<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

<div class="graph main" id="2d_scatterplot_div"></div>

<script>
    // from https://plotly.com/javascript/2d-density-plots/
    // console.log(document.getElementsByClassName("graph")[1].offsetWidth)
    var trace1 = {
    x: [{{ include.x }}],
    y: [{{ include.y }}],
    mode: 'markers',
    name: 'points',
    marker: {
        color: 'rgb(255,255,255)',
        size: 5,
        opacity: 1
    },
    type: 'scatter'
    };
    var trace2 = {
    x: [{{ include.x }}],
    y: [{{ include.y }}],
    name: 'density',
    ncontours: 10,
    colorscale: 'YlGnBu',
    reversescale: true,
    showscale: false,
    type: 'histogram2dcontour',
    };
    var trace3 = {
    x: [{{ include.x }}],
    name: {{ include.x_label }},
    marker: {color: 'rgb(255,255,255)'},
    yaxis: 'y2',
    type: 'histogram'
    };
    var trace4 = {
    y: [{{ include.y }}],
    name: {{ include.y_label }},
    marker: {color: 'rgb(255,255,255)'},
    xaxis: 'x2',
    type: 'histogram'
    };
    var data = [trace1, trace2, trace3, trace4];
    var layout = {
    paper_bgcolor: 'rgba(0,0,0,0)',
    plot_bgcolor: 'rgba(0,0,0,0)',
    showlegend: false,
    autosize: false,
    width:  0.8*document.getElementsByClassName("graph")[0].parentElement.offsetWidth,
    height: 0.8*document.getElementsByClassName("graph")[0].parentElement.offsetWidth,
    margin: {t: 0},
    hovermode: 'closest',
    bargap: 0,
    font: {
        family: "Source Sans Pro,Helvetica,sans-serif",
        size: 16,
        color: '#FFF'
    },
    xaxis: {
        domain: [0, 0.85],
        showgrid: false,
        zeroline: false,
        title: {{ include.x_label }},
        range: [0,1]
    },
    yaxis: {
        domain: [0, 0.85],
        showgrid: false,
        zeroline: false,
        title: {{ include.y_label }},
        range: [0,1]
    },
    xaxis2: {
        domain: [0.865, 1],
        showgrid: false,
        zeroline: false
    },
    yaxis2: {
        domain: [0.865, 1],
        showgrid: false,
        zeroline: false
    }
    };
    Plotly.newPlot('2d_scatterplot_div', data, layout);
</script>