<script src="/assets/js/plotly.min.js"></script>

<section id="graphs">
    <div class="inner">
        <!-- <div > -->
            <div class="graph right" id="2d_scatterplot_{{ include.title }}"></div>
        <!-- </div> -->
    </div>
</section>

<script>
    // from https://plotly.com/javascript/2d-density-plots/
    // console.log(document.getElementsByClassName("graph")[1].offsetWidth)
    // console.log("HIIII");
    // console.log({{include}})
    // console.log([{{include.id}}]);

    var trace1 = {
        x: [{{ include.x }}],
        y: [{{ include.y }}],
        ids: [{{ include.id }}],
        hovertemplate: '%{id}',
        mode: 'markers',
        name: '',
        marker: {
            color: 'black',
            size: 3,
            opacity: 0.5
        },
        type: 'scatter'
    };
    var trace2 = {
        x: [{{ include.x }}],
        y: [{{ include.y }}],
        name: 'density',
        hoverinfo:'skip',                                                                               
        ncontours: 20,
        colorscale: 'YlGnBu',
        reversescale: true,
        showscale: false,
        type: 'histogram2dcontour',
        line: {
            width:0
        }
    };
    var trace3 = {
        x: [{{ include.x }}],
        name: {{ include.x_label }},
        marker: {color: 'rgb(255,255,255)'},
        yaxis: 'y2',
        type: 'histogram'
    };
    var trace4 = {
        y: [{{ include.y }}],
        name: {{ include.y_label }},
        marker: {color: 'rgb(255,255,255)'},
        xaxis: 'x2',
        type: 'histogram'
    };
    var data = [trace1, trace2, trace3, trace4];
    var layout = {
    paper_bgcolor: 'rgba(0,0,0,0)',
    plot_bgcolor: 'rgba(0,0,0,0)',
    showlegend: false,
    autosize: true,
    // width:  0.8*document.getElementsByClassName("graph")[0].parentElement.offsetWidth,
    // height: 0.8*document.getElementsByClassName("graph")[0].parentElement.offsetWidth,
    margin: {t: 0, r: 0, l:60, b:60},
    hovermode: 'closest',
    bargap: 0,
    font: {
        family: "Source Sans Pro,Helvetica,sans-serif",
        size: 16,
        color: '#FFF'
    },
    xaxis: {
        domain: [0, 0.85],
        showgrid: false,
        zeroline: false,
        title: {{ include.x_label }},
        // range: [0,1]
    },
    yaxis: {
        domain: [0, 0.85],
        showgrid: false,
        zeroline: false,
        title: {{ include.y_label }},
        // range: [0,1]
    },
    xaxis2: {
        domain: [0.865, 1],
        showgrid: false,
        zeroline: false
    },
    yaxis2: {
        domain: [0.865, 1],
        showgrid: false,
        zeroline: false
    }
    };
    var config = {responsive: true}
    Plotly.newPlot('2d_scatterplot_{{ include.title }}', data, layout, config);
</script>