<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			{% for key_value in site.socials %}
			{% if key_value[1] %}
			<li>
				<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
					<span class="label">{{ key_value[0] }}</span>
				</a>
			</li>
			{% endif %}
			{% endfor %}
			<!-- <li>&copy; {{ site.title }} {{ site.subtitle }}</li> -->
		</ul>
		<div class="footer-right">
			<!-- <object type="image/svg+xml" data="https://www.re3data.org/public/badges/s/dark/100014502.svg"><img src="https://www.re3data.org/public/badges/s/dark/100014502.svg" style="max-width:100%"></object></p> -->
			<object type="image/svg+xml" data="assets/images/re3data.svg" style="max-width:100%">
				<img src="{{ 'assets/images/re3data.svg' | absolute_url }}" alt="re3data" style="max-width:100%">
			</object>
		</div>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/jquery.scrolly.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/jquery.scrollex.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{'assets/js/ie/respond.min.js' | absolute_url }}"></script><![endif]-->
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>