<script type="application/ld+json">
    {
      "@context":"https://schema.org/",
      "@type":"Dataset",
      "name":"{{ page.data.title }}",
      "description":"{{ page.data.description }}. This dataset contains the surfaces of {{ page.data.number_of_particles }} individual sand grains with a voxel size of {{page.data.mm_per_pixel}} mm. Meshed surfaces are available as STL files. Level set data is available in the open standard VDB.",
      "url":"{{ page.url | absolute_url }}",
      "keywords":[
         "Granular media",
         "Granular matter",
         "Particulate",
         "X-ray CT",
         "Particles",
         "Sand"
      ],
      "license" : "{{ page.data.source_license }}",
      "isAccessibleForFree" : true,
      "creator":{
         "@type":"Person",
         "name":"{{ page.data.contributor }}"
      }
    }
    </script>