<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <!-- {{ content }} -->

  <!-- Main -->
  <div id="main" class="alt">

    <!-- One -->
    <section id="one">
      <div class="inner">
        {% for page in site.pages %}
          {% if page.dir == '/sands/' %}
            {% if page.title != 404 %}
              <header class="major">
                <h1><a href={{page.url}}>{{ page.title }}</a></h1>
              </header>
              {% if page.image %}
                <span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>
              {% endif %}
          <!-- {% if post.date %}<p>{{ post.date }}</p>{% endif %} -->
              <p>{{ page.content }}</p>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </section>

  </div>

  {% include footer.html %}

</body>

</html>